@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W0.ttc');
  font-weight: 0;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W1.ttc');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W2.ttc');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W3.ttc');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W4.ttc');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W5.ttc');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W6.ttc');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W7.ttc');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W8.ttc');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Hiragino Sans;
  src:url('@src/assets/fonts/hiragino_sans/ヒラギノ角ゴシック W9.ttc');
  font-weight: 900;
  font-style: normal;
}
